<h1>Example 21: Using Order</h1>
<div class="wrapper-example21">
  <div class="box-example21 a21">A</div>
  <div class="box-example21 b21">B</div>
  <div class="box-example21">C</div>
  <div class="box-example21">D</div>
  <div class="box-example21">F</div>
  <div class="box-example21">G</div>
  <div class="box-example21">H</div>
  <div class="box-example21">I</div>
  <div class="box-example21">J</div>
  <div class="box-example21">K</div>
  <div class="box-example21">L</div>
  <div class="box-example21">M</div>
  <div class="box-example21">M</div>
  <div class="box-example21">N</div>
  <div class="box-example21">O</div>
  <div class="box-example21">P</div>
</div>
