<h1>Example 14: A grid item as a new positioning context</h1>
<div class="wrapper-example14">
  <div class="box-example header">Header</div>
  <div class="box-example sidebar">Sidebar</div>
  <div class="box-example14 content14">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <img src="http://gridbyexample.com/examples/code/arrow-top-left.png" alt="top left" class="topleft" />
    <img src="http://gridbyexample.com/examples/code/arrow-top-right.png" alt="top right" class="topright" />
    <img src="http://gridbyexample.com/examples/code/arrow-bottom-left.png" alt="bottom left" class="bottomleft" />
    <img src="http://gridbyexample.com/examples/code/arrow-bottom-right.png" alt="bottom right" class="bottomright" />
  </div>
  <div class="box-example footer">Footer</div>
</div>
