<h1>Example 24: minmax() and spanning columns and rows</h1>
<div class="wrapper-example23">
  <div class="box-example a24">A</div>
  <div class="box-example">B</div>
  <div class="box-example">C</div>
  <div class="box-example">D</div>
  <div class="box-example">E</div>
  <div class="box-example">F</div>
  <div class="box-example g24">G</div>
  <div class="box-example">H</div>
  <div class="box-example">I</div>
  <div class="box-example">J</div>
  <div class="box-example k24">K</div>
  <div class="box-example">L</div>
  <div class="box-example">M</div>
</div>
