<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grid by Example</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include example1.html %}
    {% include example2.html %}
    {% include example3.html %}
    {% include example4.html %}
    {% include example5.html %}
    {% include example6.html %}
    {% include example7.html %}
    {% include example8.html %}
    {% include example9.html %}
    {% include example10.html %}
    {% include example11.html %}
    {% include example12.html %}
  </body>
</html>
